body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
}
.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
  margin-top: 50px;
}

.timer {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0,0%,30%);
  text-shadow: 2px 2px 2px hsla(0,0%,0%,0.75);
  margin-bottom: 20px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}
.watch-start{
  background-color: green;
}
.watch-start:hover{
  background-color: DarkGreen;
}
.watch-stop{
  background-color: red;
}
.watch-stop:hover{
  background-color: DarkRed;
}
.watch-reset{
  background-color: blue;
}
.watch-reset:hover{
  background-color: darkblue;
}